body {
    background-color: #f5f5f5;
}

.score-board div,
#status div {
    display: inline;
}

.main {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "scoreboard" "display" "btncontainer";
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    background-color: cornsilk;
    max-width: 500px;
    border-radius: 20px;
    background: #f5f5f5;
    box-shadow: 7px 7px 15px #d0d0d0, -7px -7px 15px #ffffff;
}

.item {
    justify-self: center;
}

.header {
    grid-area: header;
}

.score-board {
    grid-area: scoreboard;
}

.display {
    grid-area: display;
    text-align: center;
    padding: 5px;
}

#btn-container {
    padding: 30px;
    grid-area: btncontainer;
}

.play-btn {
    width: 125px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #1ab2ff;
}

.play-btn:hover {
    cursor: pointer;
    color: white;
    background: #0092db;
}