@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@700&display=swap');
body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.score-board div,
#status div {
    display: inline;
}

.main {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "scoreboard" "display" "btncontainer";
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    background-color: cornsilk;
    max-width: 500px;
    border-radius: 20px;
    background: #f5f5f5;
    box-shadow: 7px 7px 15px #d0d0d0, -7px -7px 15px #ffffff;
}

.item {
    justify-self: center;
}

.header {
    grid-area: header;
    font-family: 'Roboto Mono', monospace;
    color: #001638;
    margin-bottom: 20px;
}

.score-board {
    grid-area: scoreboard;
    font-size: 2em;
    margin-bottom: 20px;
}

.display {
    grid-area: display;
    text-align: center;
    padding: 5px;
}

#msg {
    margin-top: 20px;
    font-family: 'Roboto Mono', monospace;
}

#btn-container {
    padding: 30px;
    grid-area: btncontainer;
}

.play-btn {
    width: 125px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #1ab2ff;
}

.play-btn:hover {
    cursor: pointer;
    color: white;
    background: #0092db;
}

#again {
    display: none;
    justify-self: center;
    margin: 30px;
}